@import "@wildberries/ui-kit/lib/styles/palette/index.module";

.UpdateCard {
  background-color: $color-text-inverse;
  border: 1px solid $color-bg-plate;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 300px;
  padding: 16px;

  &__meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
  }
}
